# Database (PostgreSQL)
POSTGRES_USER=petflow
POSTGRES_PASSWORD=petflow_secret
POSTGRES_DB=petflow_dev
POSTGRES_PORT=5432
DATABASE_URL="postgresql://petflow:petflow_secret@localhost:5432/petflow_dev?schema=public"

# Redis Cache & Queue
REDIS_PORT=6379
REDIS_URL="redis://localhost:6379"

# API Service
PORT=3001
NODE_ENV=development
CORS_ORIGIN="http://localhost:3000"

# Authentication & Security
JWT_SECRET="petflow_super_secret_jwt_access_key_dev_only_change_in_prod"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_SECRET="petflow_super_secret_jwt_refresh_key_dev_only_change_in_prod"
JWT_REFRESH_EXPIRES_IN="7d"

# Web Client
NEXT_PUBLIC_API_URL="http://localhost:3001/api/v1"
